body
{
	background-color: silver;
	font-family: Calibri;
}

table
{
	background-color: white;
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=60);
	opacity: 0.60;
}

.ModalPopup
{
	background-color:transparent;
	background-position:center;
	padding:0;
	border: none;
}